<nav>
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/users">Users</a></li>
          <li>u<a href="/jobs">Jobs</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/contacts">Contacts</a></li>
        </ul>
      </nav>
      