<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <ol>
        <% users.forEach((user)=>{ %>
        <li><%= user.name %>  <%= user.email  %></li>  
        <% }) %>
    </ol>
</body>
</html>
<script>
    const activePage = window.location.pathname
const navlinks =document.querySelectorAll('nav a').forEach(link=>{
    if(link.href.includes( `${activePage}`)){
        link.classList.add('active')
    }
})
</script>